- first_group = true
- @tickets.each_slice(8) do |chunk_of_tickets|
  - unless first_group
    .page_break 
  - first_group = false
  .wrapper
    - chunk_of_tickets.each do |t|
      .ticket
        <!--
        = t.inspect
        !-->
        .ticket_title
          = h(t.title)
        .meta
          .value
            .box
            %span{ :class => 'metatxt' }
              effort
          .effort
            .box
            %span{ :class => 'metatxt' }
              value
        .ticket_number
          = "\##{t.id}"
  %br
