!!! 5
%html{html_attrs('en-AU')}
  %head
    %title Lighthouse Cards
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/print.css' }
  %body
    - @tickets.each_slice(8) do |chunk_of_tickets|
      .wrapper
        - chunk_of_tickets.each do |t|
          .ticket
            <!--
            = t.inspect
            !-->
            .ticket_title
              = h(t.title)
            .meta
              .value
                .box
                %span{ :class => 'metatxt' }
                  actual
              .value
                .box
                %span{ :class => 'metatxt' }
                  best
              .effort
                .box
                %span{ :class => 'metatxt' }
                  worst
            .ticket_number
              = "\##{t.id}"
      %br
