%h1
  All Open, Unprinted tickets in Lighthouse
%p
  This is showing all open tickets that aren't tagged with 'card-printed'
%p
  %a{ :href => '/print_all' }
    print all
%form{ :action => '/mark_printed', :method => 'post' }
  %input{ :type => 'submit', :value => 'Tag all as printed' }
%br
%form{ :action => '/print_specific', :method => 'post' }
  %input{ :type => 'text', :name => 'ticket_ids' }
  %input{ :type => 'submit', :value => 'Print Specific IDs' }