%html{html_attrs('en-AU')}
  %head
    %title Lighthouse Cards
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/styles.css', :media => 'screen' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/styles.css', :media => 'print' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/print.css', :media => 'print' }
    %script{ :src => '/raphael-min.js', :type => 'text/javascript', :charset => 'utf-8' }
    %script{ :src => '/g.raphael-min.js', :type => 'text/javascript', :charset => 'utf-8' }
    %script{ :src => '/g.bar-min.js', :type => 'text/javascript', :charset => 'utf-8' }
    %script{ :src => '/g.line-min.js', :type => 'text/javascript', :charset => 'utf-8' }
  %body
    = yield