.wrapper {
  height: 29.7cm;
  width: 21cm;
  border: 2px dashed #cacaca;
}

.ticket {
  position: relative;
  float: left;
  height: 7.425cm;
  width: 10.449cm;
  border-bottom: 2px dashed #cacaca;
}

.ticket:nth-child(2n+1) {
  border-right: 2px dashed #cacaca;
}

.ticket_title {
  margin: 0.4cm;
  margin-top: 0.2cm;
  font-size: 1cm;
  font-family: Helvetica, serif;
  font-weight: bold;
}

.meta {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.value {
  float: left;
  margin: 0.1cm;
  margin-left: 0.5cm;
}

.effort {
  float: left;
  margin: 0.1cm;
}

.metatxt {
  font-family: Helvetica, serif;
  text-align: center;
  margin-left: 10px;
}

.box {
  width: 1.5cm;
  height: 1.5cm;
  border: 2px solid #a1a1a1;
}

.ticket_number {
  position: absolute;
  right: 0.8cm;
  bottom: 0.7cm;
  font-size: 0.7cm;
  padding: 0.2cm;
  border: 2px dotted #c1c1c1;
}